# Domain settings
DOMAIN=example.com

# Database settings
# Format: postgres://username:password@host:port/database
DATABASE_URL=postgres://username:password@host:port/database?sslmode=require

# JWT settings
SECRET_KEY=your_secret_key_here

# SMTP settings
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_EMAIL=noreply@example.com
SMTP_USE_TLS=1

# Deployment settings
COMPOSE_PROJECT_NAME=project_name
